* {
  margin: 0px;
  padding: 0px;
  font-family: Microsoft JhengHei;
}
 
body{
  background-color: #00003f;
}

.wrapper {
  width: 100vw;
  box-sizing: margin-box;
  background-color: gray;
  height: 100vh;
  display: grid;
  grid-template-columns: 15fr 50fr 35fr;
  grid-template-rows: 1fr 1fr 5fr 1fr 0.5fr;
  grid-template-areas: 
    "header header header"
    "album-case show-case album-title"
    "album-case show-case thumbnail-case"
    "album-case caption-case thumbnail-case"
    "footer footer footer";
}

.wrapper .block{
  overflow: auto;
}


.wrapper .header{
  background-color:indigo;
  grid-area: header;
  padding: 2vh 2vw;
}
.wrapper .header .innertext{
  color:whitesmoke;
  font-size: 2em;
  line-height: 100%;
  height: 100%;
  font-weight: bold;
  float:left;
}
.wrapper .header .navbutton {
  display: none;
}
.wrapper .header nav{
  float:right;
}
.wrapper .header nav a {
  color: inherit; 
  display: block; 
  font-size: 3.5vh;
  padding: 1vh;
  text-decoration: none;
}
.wrapper .header nav > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  color:lightgrey;
}
.wrapper .header nav a:hover {
  background-color: darkorchid;
  color: white;
}



.wrapper .album-case{
  background-color:rgba(52, 68, 83, 0.61);
  grid-area: album-case;
  display: inline-flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  padding: 0.5vw;
  overflow-y: scroll;
}
.wrapper .album-case .album-cover{
  /* background-color: darkorchid; */
  width:12vw;
  height: 12vw;
  margin: 0.5vw;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.wrapper .album-case .album-cover img{
  width:12vw;
  height: 12vw;
  object-fit: cover;
  position: absolute;
}
.wrapper .album-case .album-cover #title{
  width:12vw;
  height: 4vw;
  position: absolute;
  color: aliceblue;
  background-color: rgba(245, 245, 245, 0.13);
  padding: 0.4vw;
  box-sizing: border-box;
  text-align: center;
  font-size: 0.7em;
}

.wrapper .album-title{
  background-color:#4f4868b9;
  grid-area: album-title;
  height:100%;
  display: flex;
  justify-content:center;
  align-items: center;
}
.wrapper .album-title #inner{
  color: rgba(245, 245, 245, 0.74);
  line-height: 6vh;
  height: 6vh;
  font-size: 1.2em;
  font-weight: bold;
}
.wrapper .album-title img{
  height: 30%;
}




.wrapper .show-case{
  background-color:darkgray;
  grid-area: show-case;
  display: flex;
  justify-content:center;
  align-items: center;
  padding: 0%;
}
.wrapper .show-case img{
  max-width: 95%;
  max-height: 95%;
}



.wrapper .thumbnail-case{
  background-color:#4f4868b9 ;
  grid-area: thumbnail-case;
  display: inline-flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  padding: 0.3vw;
  overflow-y: scroll;
}
.wrapper .thumbnail-case img{
  /* background-color: darkorchid; */
  width:9.6vw;
  height: 9.6vw;
  margin: 0.3vw;
  object-fit:cover;
}
.wrapper .thumbnail-case img{
  border:0.3vw rgba(255, 255, 255, 0) solid;
}
.wrapper .thumbnail-case #one{
  border-style: unset;
  border:0.3vw gold solid;
  background-color: whitesmoke;
  opacity: 0.6;
}

.wrapper .thumbnail-case img:hover{
  transform: scale(1.1);
}



.wrapper .caption-case{
  grid-area: caption-case;
  display: grid;
  grid-template-columns: 0.5fr 2fr 5fr 1fr 1fr 0.5fr;
  grid-template-areas: "space-left number caption back next space-right";
}
.wrapper .caption-case #number{
  grid-area: number;
  font-size: 1em;
}
.wrapper .caption-case #caption{
  grid-area: caption;
  font-size: 1.2em;
  font-weight: bolder;
  color:whitesmoke;
}
.wrapper .caption-case #back{
  grid-area: back;
}
.wrapper .caption-case #next{
  grid-area: next;
}
.wrapper .caption-case #space-left{
  grid-area: space-left;
}
.wrapper .caption-case #space-right{
  grid-area: space-right;
}
.wrapper .caption-case *{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;
}
.wrapper .caption-case img{
  max-width: 75%;
  max-height: 75%;
}
.wrapper .caption-case img:hover{
  transform: scale(1.2);
}


.wrapper .footer {
  color:gray;
  background-color: #00003f;
  grid-area: footer;
  padding: 0.5vh 2vw;
  font-size: 0.8em;
}




@media(max-aspect-ratio: 8/5){
  .wrapper .header .navbutton {
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapper .header .navbutton img{
    width: 60%;
  }
  .wrapper .header nav{
    display: none;
  }

  .wrapper {
    width: 100vw;
    box-sizing: margin-box;
    background-color: gray;
    height: 200vh;
    display: grid;
    grid-template-columns: 15fr 35fr;
    grid-template-rows: 1fr 6fr 1fr 1fr 6fr 0.5fr;
    grid-template-areas: 
      "header header"
      "show-case show-case"
      "caption-case caption-case"
      "album-case album-title"
      "album-case thumbnail-case"
      "footer footer";
  }

  .wrapper .thumbnail-case{
    background-color:#4f4868b9 ;
    grid-area: thumbnail-case;
    display: inline-flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0.6vw;
    overflow-y: scroll;
  }
  .wrapper .thumbnail-case img{
    /* background-color: darkorchid; */
    width:19.2vw;
    height:19.2vw;
    margin: 0.6vw;
    object-fit:cover;
  }
  .wrapper .thumbnail-case img{
    border:0.6vw rgba(255, 255, 255, 0) solid;
  }
  .wrapper .thumbnail-case #one{
    border-style: unset;
    border:0.6vw gold solid;
    background-color: whitesmoke;
    opacity: 0.6;
  }
  .wrapper .thumbnail-case img:hover{
    transform: scale(1.1);
  }


  .wrapper .album-case{
    background-color:rgba(52, 68, 83, 0.61);
    grid-area: album-case;
    display: inline-flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 1vw;
    overflow-y: scroll;
  }
  .wrapper .album-case .album-cover{
    /* background-color: darkorchid; */
    width:24vw;
    height: 24vw;
    margin: 1vw;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .wrapper .album-case .album-cover img{
    width:24vw;
    height: 24vw;
    object-fit: cover;
    position: absolute;
  }
  .wrapper .album-case .album-cover #title{
    width:24vw;
    height: 8vw;
    position: absolute;
    color: aliceblue;
    background-color: rgba(245, 245, 245, 0.13);
    padding: 0.8vw;
    box-sizing: border-box;
    text-align: center;
  }
  
  .wrapper .album-title{
    background-color:#4f4868b9;
    grid-area: album-title;
    height:100%;
    display: flex;
    justify-content:center;
    align-items: center;
  }
  .wrapper .album-title #inner{
    color: rgba(245, 245, 245, 0.74);
    line-height: 12vh;
    height: 12vh;
    font-size: 1.2em;
    font-weight: bold;
  }
  .wrapper .album-title img{
    height: 30%;
  }
}